<div class="row h-100">
  <div class="col-12 d-flex flex-column h-100">
    <div class="row mt-4">
      <div class="col-12">

        <div class="mt-table">
          <div class="caption">Results: <span [innerHTML]="this.mails.length"></span> mails(s)</div>
          <div
            class="mt-header"
            *ngIf="this.mails.length > 0"
          >
            <div
              class="from"
              sortable="from"
              (sort)="onSort($event)"
            >From</div>
            <div
              class="to"
              sortable="to"
              (sort)="onSort($event)"
            >To</div>
            <div class="mt-icon mt-badge"></div>
            <div
              class="subject"
              sortable="subject"
              (sort)="onSort($event)"
            >Subject</div>
            <div class="mt-icon mt-attachment"></div>
            <div
              class="date"
              sortable="date"
              (sort)="onSort($event)"
            >Date</div>
          </div>
          <ng-container *ngFor="let mail of this.mails">
            <div
              class="mt-row clickable"
              (click)="toogleCollapseRow(mail.id)"
            >
              <div class="mt-icon mt-email">
                <img src="/assets/images/icon_mail_sp.svg" />
              </div>
              <div
                class="from"
                [ngClass]="rowClasses('from')"
              >{{mail.from}}</div>
              <div
                [badge]="badge"
                class="to"
                [ngClass]="rowClasses('to')"
              >
                <div
                  *ngFor="let item of mail.to; let i = index"
                  [class.text-truncate]="i == 0"
                >
                  {{item}}<ng-container *ngIf="mail.to.length > 1 && i != mail.to.length">,&nbsp;</ng-container>
                </div>
              </div>
              <div class="mt-icon mt-badge text-center">
                <span
                  #badge
                  class="badge badge-secondary"
                ></span>
              </div>
              <div
                class="subject"
                [ngClass]="rowClasses('subject')"
              >{{mail.subject}}</div>
              <div class="mt-icon mt-attachment">
                <img
                  src="/assets/images/icon_clip.svg"
                  *ngIf="mail.attachment.length > 0"
                />
              </div>
              <div
                class="date"
                [ngClass]="rowClasses('date')"
              >{{mail.date | dateTimeFormat}}</div>
              <div class="mt-icon swipe-right">
                <img src="/assets/images/icon_arrow02.svg" />
              </div>
            </div>

            <div
              class="mt-row p-2 pl-5"
              [ngbCollapse]="isRowCollapsed(mail.id)"
            >
              <div>{{mail.subject}}</div>
              <div>
                <img
                  *ngIf="mail.attachment.length > 0"
                  width="256"
                  height="256"
                  alt="no_img"
                  [src]="mail.attachment"
                />
              </div>
            </div>

          </ng-container>
        </div>
      </div>
    </div>

    <div
      class="row flex-grow-1 justify-content-center align-items-center"
      *ngIf="mails.length == 0"
    >
      <img
        src="/assets/images/logo.png"
        alt="no image"
      />
    </div>
  </div>
</div>
