@import "~bootstrap/scss/bootstrap";

caption {
  color: #666666;
  font-weight: 500;
  caption-side: top;
  border-bottom: 2px solid #ebebeb;
}

@mixin sort-direction-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  position: relative;
  left: 6px;
  background-image: url("/assets/images/icon_arrow01.svg");
  background-repeat: no-repeat;
}

table.mail {
  th {
    color: #666666;
    font-weight: 500;
    background-color: #f5f5f5;

    &[sortable] {
      cursor: pointer;

      &.asc {
        @extend .font-weight-bold;
        &:after {
          @include sort-direction-icon();
        }
      }

      &.desc {
        @extend .font-weight-bold;
        &:after {
          @include sort-direction-icon();
          transform: rotate(180deg);
        }
      }
    }
  }

  tr {
    cursor: pointer;

    &:hover {
      color: #0033dd !important;
      background-color: #fafafa !important;
    }

    td {
      max-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .badge-secondary {
    background-color: #888888;
  }

  .clip {
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    background-image: url("/assets/images/icon_clip.svg");
    background-repeat: no-repeat;
  }

  .collapsed-arrow {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    background-image: url("/assets/images/icon_arrow02.svg");
    background-repeat: no-repeat;
  }
}
