<div class="row h-100">
  <div class="col-12">
    <table class="table table-hover mail mt-2">
      <caption>Results: <span [innerHTML]="this.mails.length"></span> mails(s)</caption>
      <thead
        class="thead-light"
        *ngIf="mails && mails.length > 0"
      >
        <tr>
          <th
            style="width: 15%"
            sortable="from"
            (sort)="onSort($event)"
          >From</th>
          <th
            style="width: 20%"
            sortable="to"
            (sort)="onSort($event)"
          >To</th>
          <th style="width: 5%"></th>
          <th
            style="width: 40%"
            sortable="subject"
            (sort)="onSort($event)"
          >Subject</th>
          <th style="width: 5%"></th>
          <th
            style="width: 15%"
            sortable="date"
            (sort)="onSort($event)"
          >Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let mail of this.mails">
          <tr
            class="clickable"
            (click)="toogleCollapseRow(mail.id)"
          >
            <td [ngClass]="tdClasses('from')">{{ mail.from }}</td>
            <td [ngClass]="tdClasses('to')">{{ mail.to.join(", ") }}</td>
            <td>
              <span
                *ngIf="mail.to.length > 1"
                class="badge badge-secondary"
              >{{ "+" + (mail.to.length - 1) }}
              </span>
            </td>
            <td [ngClass]="tdClasses('subject')">{{ mail.subject }}</td>
            <td>
              <span
                *ngIf="mail.attachment.length > 0"
                class="clip"
              ></span>
            </td>
            <td [ngClass]="tdClasses('date')">{{ mail.date | dateTimeFormat }}</td>
          </tr>
          <tr [ngbCollapse]="isRowCollapsed(mail.id)">
            <td></td>
            <td colspan="5">
              <div>{{mail.subject}}</div>
              <div>
                <img
                  *ngIf="mail.attachment.length > 0"
                  width="256"
                  height="256"
                  alt="no_img"
                  [src]="mail.attachment"
                />
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <div
      class="row h-100 justify-content-center align-items-center"
      *ngIf="mails.length == 0"
    >
      <img
        src="/assets/images/logo.png"
        alt="no image"
      />
    </div>
  </div>
</div>
