@mixin for-phone-only {
  @media all and (max-width: 700px) {
    @content;
  }
}

@mixin sort-direction-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  left: 6px;
  position: relative;
  background-image: url("/assets/images/icon_arrow01.svg");
  background-repeat: no-repeat;

  @include for-phone-only {
    left: 0px;
    padding-right: 24px;
    background-position: center;
  }
}

@mixin row-class {
  order: 1;
  padding: 10px;
  height: 40px;

  @include for-phone-only {
    padding: 0px;
    height: 24px;
  }
}

.mt-table {
  display: flex;
  flex-direction: column;

  .from {
    width: 15%;
  }
  .to {
    width: 20%;
  }
  .mt-badge {
    width: 5%;
  }
  .subject {
    width: 40%;
  }
  .mt-attachment {
    width: 5%;
  }
  .date {
    width: 15%;
  }

  .caption {
    color: #666666;
    font-weight: 500;
    caption-side: top;
    border-bottom: 2px solid #ebebeb;

    > span {
      font-weight: bold;
      font-size: 17px;
    }
  }

  .mt-header {
    display: flex;
    color: #666666;
    border-bottom: 2px solid #ebebeb;
    font-weight: 500;
    background-color: #f5f5f5;

    @include for-phone-only {
      padding: 10px;
    }

    > div {
      @include row-class();

      &[sortable] {
        cursor: pointer;

        &.asc {
          font-weight: bold;

          &:after {
            @include sort-direction-icon();
          }
        }

        &.desc {
          font-weight: bold;

          &:after {
            @include sort-direction-icon();
            transform: rotate(180deg);
          }
        }
      }

      @include for-phone-only {
        width: auto;
        height: 24px;

        &:not(:last-child):not(.mt-icon) {
          padding-right: 10px;
          border-right: solid 1px #808080;
        }

        &:not(:first-child):not(.mt-icon) {
          padding-left: 10px;
        }
      }
    }
  }

  .mt-row {
    border-bottom: 1px solid #c7c5c5;

    &.clickable {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      cursor: pointer;

      @include for-phone-only {
        flex-wrap: wrap;
        padding: 10px;
      }

      &:hover {
        color: #0033dd !important;
        background-color: #fafafa !important;
      }

      > div {
        @include row-class();

        &:not(.mt-icon) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .from {
        @include for-phone-only {
          order: 0;
          width: 51%;
          flex-grow: 1;
        }
      }

      .to {
        display: flex;
        flex-wrap: wrap;

        @include for-phone-only {
          width: 51%;
          flex-grow: 1;
        }
      }

      .mt-badge {
        @include for-phone-only {
          width: auto;
          margin-left: 10px;
        }
      }

      .subject {
        @include for-phone-only {
          width: 100%;
          font-size: 17px;
        }
      }

      .mt-attachment {
        @include for-phone-only {
          order: 0;
          width: auto;
          margin-left: 10px;
        }

        > img {
          width: 18px;
          height: 18px;
          display: block;
          margin: 0 auto;
          content: url("/assets/images/icon_clip.svg");

          @include for-phone-only {
            display: inline-block;
          }
        }
      }

      .date {
        @include for-phone-only {
          order: 0;
          width: auto;
          margin-left: 10px;
        }
      }

      .swipe-right {
        display: none;

        @include for-phone-only {
          order: 0;
          display: block;
          margin-left: 10px;

          > img {
            width: 8px;
            height: 8px;
            display: inline-block;
            content: url("/assets/images/icon_arrow02.svg");
          }
        }
      }

      .badge-secondary {
        background-color: #888888;
      }
    }
  }
}
